<%= live_component(@socket, HeaderLive, assigns_clean(assigns)) %>
<%= live_component(@socket, HeroLive, assigns_clean(assigns)) %>
<%= live_component(@socket, PreviewLive, assigns_clean(assigns)) %>
<%= live_component(@socket, FaqLive, assigns_clean(assigns)) %>
<%= live_component(@socket, FooterLive, assigns_clean(assigns)) %>
