
<%= live_component(@socket, HeaderLive, assigns) %>
<%= live_component(@socket, HeroLive, assigns) %>
<%= live_component(@socket, PreviewLive, assigns) %>
<%= live_component(@socket, BlogPreviewLive, assigns) %>
<%= live_component(@socket, DevicePreviewLive, assigns) %>
<%= live_component(@socket, AppsPreviewLive, assigns) %>
<%= live_component(@socket, FaqLive, assigns) %>
<%= live_component(@socket, FooterLive, assigns) %>


