@font-face {
	font-family: 'Rubik Flex';
	src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf') format('woff2 supports variations'),
       url('../fonts/Rubik/Rubik-VariableFont_wght.ttf') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

.rubik {
    font-family: 'Rubik Flex';
}

