<%= live_component(@socket, HeaderLive, assigns_clean(assigns)) %>
<%= live_component(@socket, MilestonesLive, assigns_clean(assigns)) %>

<%= live_component(@socket, FooterLive, assigns_clean(assigns)) %>
