<div id="layout-live">
  <.live_component 
    module={Bonfire.UI.Common.NotificationLive} 
    id="notification" 
    notification={e(@notification, nil)}
    current_user={current_user(@__context__)}
  />

  <%= @inner_content %>
  
</div>
