<!DOCTYPE html>
<html
  x-data="{
    theme: JSON.parse(localStorage.getItem('bonfire_theme')) ? JSON.parse(localStorage.getItem('bonfire_theme')) : window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : null}"
  x-init="() => {
    $watch('theme', (val) => localStorage.setItem('bonfire_theme', JSON.stringify(val)))
  }"
  lang="en"
  :class="{'dark' : theme === 'dark'}"
  >
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " · Bonfire" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= if @current_account do %>
      <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/live.js") %>"></script>
    <% else %>
      <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/non_live.js") %>"></script>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer></script>
    <% end %>
    <style>
      .section_starter {
        position: relative;
      }
      .section_starter:before {
        position: absolute;
          content: "";
          top: -110px;
          width: 1px;
          left: 50%;
          height: 100px;
          display: block;
          background: linear-gradient(#e6646500, #9198e5);
      }
      .lined:after {
        position: absolute;
        background-image: url("../images/line.png");
        bottom: -30px;
        left: 0;
        display: block;
        right: 0;
        height: 40px;
        content: "";
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body
   id="layout-root website" class="bg-white dark:bg-gray-800">
    <%= if Code.ensure_loaded?(Thesis.View), do: Thesis.View.thesis_editor(@conn) %>
    <%= @inner_content %>
  </body>
</html>
